<footer class="gringotts-gray">
  <div class="standup">
      <ul>
          <li>Fale Conosco</li>
          <li>Atendimento ao Cliente: 4400-3003 (Capitais e Regiões Metropilitanas)</li>
          <li>SAC: 0800 011 0110 </li>
          <li>Ouvidoria: 5505-5005 (Capitais e Regiões Metropilitanas)</li>
          <li>Ouvidoria: 0800 011 0110 (Demais Regiões)</li>
      </ul>
      <ul>
          <li>Informações aos clientes</li>
          <li><a href="#">Sistema de Informação ao Crédito</a></li>
          <li><a href="#">Código de Defesa do Consumidor</a></li>
          <li><a href="#">Portal do Consumidor - PROCONs</a></li>
      </ul>
  </div>
  <div class="laydown">
      <ul>
          <li><a href="#"><i class="fab fa-facebook"></i></a></li>
          <li><a href="#"><i class="fab fa-instagram"></i></a></li>
          <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
      </ul>
      <hr class="line">
      <p class="copy">© 2017 Gringotts Bank, Inc.</p>
  </div>
</footer>
