 <footer class="gringotts-gray page-footer">
     <div class="container">
         <div class="row">
             <div class="col s12 m4">
                <ul>
                    <li><h6>Fale Conosco</h6></li>
                    <li>Atendimento ao Cliente: 4400-3003 <br>(Capitais e Regiões Metropilitanas)</li>
                    <li>SAC: 0800 011 0110 </li>
                    <li>Ouvidoria: 5505-5005 <br>(Capitais e Regiões Metropilitanas)</li>
                    <li>Ouvidoria: 0800 011 0110 (Demais Regiões)</li>
                </ul>
             </div>
             <div class="col s12 m4">
                <ul>
                    <li><h6>Serviços</h6></li>
                    <li><a href="#">Investimentos</a></li>
                    <li><a href="#">Crédito</a></li>
                    <li><a href="#">Para Empresas</a></li>
                    <li><a href="#">Poupança</a></li>
                </ul>
             </div>
             <div class="col s12 m4">
                <ul>
                    <li><h6>Informações</h6></li>
                    <li><a href="#">Sistema de Informação ao Crédito</a></li>
                    <li><a href="#">Código de Defesa do Consumidor</a></li>
                    <li><a href="#">Portal do Consumidor - PROCONs</a></li>
                </ul>
             </div>
         </div>
     </div>
        <div class="standup">
       
  </div>
  <div class="laydown">
      <ul>
          <li><h6>Acompanhe</h6></li>
          <li><a href="#"><i class="fab fa-facebook"></i></a></li>
          <li><a href="#"><i class="fab fa-instagram"></i></a></li>
          <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
      </ul>
      <hr class="line">
      <p class="copy">© 2018 Gringotts Bank, Inc.</p>
  </div>
</footer> -->
