.container{
    margin-top: 30px;
}

.big-card{
    height: 286px;
}

.small-card{
    cursor: pointer;
    background-color:#3b3a40;
}

label{
    font-size: 20px;
}

.big-card label{
    color:#3b3a40;
}

.big-card .icon{
    float: right;
    cursor: pointer;
}


.small-card label{
    color:rgb(249,212,35);
    cursor: pointer;
}

.mb-5{
    margin-bottom: 5px;
}

.yellow-icon {
    color: rgb(249,212,35);
}

/* Note: If you're using an SVG icon, you should make the class target the `<svg>` element */
.yellow-icon svg {
    fill: rgb(249,212,35);
}

.gray-icon{
    color: #3b3a40;
}

.icon{
    float: right;
}

.floatR{
    float: right;
}
.link {
    color: #3b3a40 !important;
    cursor: pointer;
    text-decoration-line: underline;
}

.link:hover{
    color:rgb(249,212,35) !important;
}

.img-area {
    margin: auto;
    position: relative;
    height: 120px;
    width: 120px;
}
.img-area img {
    margin: auto;
    width: 100%;
}

.text-card {
    text-align: center;
}

.tittle-card{
    font-weight: bold !important;
}