<nav class="gringotts-gray">
  <a class="right" mat-button [matMenuTriggerFor]="menu" style="cursor: pointer;"><i class="fas fa-bars"></i></a>
  <a class="brand-logo"><img src="assets/images/gringotts_vazado.svg" alt="Gringotts"></a>
  <mat-menu #menu="matMenu">
    <span *ngIf="!usuarioLogado"> <a class="nav-link" mat-menu-item [routerLink]="['/login']" href="#">Acesse sua conta</a></span>
    <span *ngIf="usuarioLogado">
      <a class="nav-link" mat-menu-item [routerLink]="['/dashboard']" href="#">Dashboard</a>
      <a class="nav-link" mat-menu-item (click)="logout()" href="#">Sair</a></span>
  </mat-menu>
</nav>