<div class="row">
    <div class="col s12 m4 pt-space">
        <div class="card-panel big-card">
            <h5><i class="material-icons dp48">account_circle</i> {{ name }} </h5>
            <h5> Conta: {{ accountNumber }}</h5>
            <h6>Saldo em conta: <span *ngIf="!(balance > 0)" class="negativeBalance">{{ balance | currency: 'BRL' }}</span>
                <span *ngIf="(balance > 0)">{{balance | currency: 'BRL' }}</span></h6>
        </div>
    </div>
    <div class="col s12 m8 pt-space pb-space">
        <mat-tab-group>
            <mat-tab label="Tudo">
                <mat-vertical-stepper *ngFor="let i of transactions">
                    <mat-step label="{{i.transactionTime | date: 'dd/MM/yyyy'}}">
                        {{i.description}}: <span *ngIf="!(i.amount > 0)" class="negativeBalance">{{i.amount | currency:
                            'BRL' }}</span><span *ngIf="(i.amount > 0)">{{i.amount | currency:
                            'BRL' }}</span>
                    </mat-step>
                </mat-vertical-stepper>
            </mat-tab>
            <mat-tab label="Entrada">
                <mat-vertical-stepper *ngFor="let i of transactionsInput">
                    <mat-step label="{{i.transactionTime | date: 'dd/MM/yyyy'}}">
                        {{i.description}}: <span *ngIf="!(i.amount > 0)" class="negativeBalance">{{i.amount | currency:
                            'BRL' }}</span>
                        <span *ngIf="(i.amount > 0)">{{i.amount | currency: 'BRL' }}</span>
                    </mat-step>
                </mat-vertical-stepper>
            </mat-tab>
            <mat-tab label="Saída">
                <mat-vertical-stepper *ngFor="let i of transactionsOutput">
                    <mat-step label="{{i.transactionTime | date: 'dd/MM/yyyy'}}">
                        {{i.description}}: <span *ngIf="!(i.amount > 0)" class="negativeBalance">{{i.amount | currency:
                            'BRL' }}</span>
                        <span *ngIf="(i.amount > 0)">{{i.amount | currency: 'BRL' }}</span>
                    </mat-step>
                </mat-vertical-stepper>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>