<div class="row">
    <div class="col s12 m4">
        <div class="card-panel big-card">
            <h5>Nome Titular da conta </h5>
            <h5> {{ accountNumber }}</h5>
            <h6>Saldo em conta: {{ accountNumber }}</h6>
        </div>
    </div>
    <div class="col s12 m8">
        <mat-tab-group>
            <mat-tab label="Tudo">
                <mat-vertical-stepper *ngFor="let i of transactions">
                    <mat-step label="9 de dezembro">
                      {{i.transactions}}
                    </mat-step>
                    <mat-step label="8 de dezembro">
                      {{i.transactions}}
                    </mat-step>
                  </mat-vertical-stepper>
            </mat-tab>
            <mat-tab label="Entrada"> 
                <mat-vertical-stepper>
                    <mat-step label="9 de dezembro">
                      Taxa da Conta Corrente: R$ 29,00
                    </mat-step>
                    <mat-step label="8 de dezembro">
                        RSHOP-McDonalds: R$ 15,60
                    </mat-step>
                  </mat-vertical-stepper>
            </mat-tab>
            <mat-tab label="Saída"> 
                <mat-vertical-stepper>
                    <mat-step label="9 de dezembro">
                      Taxa da Conta Corrente: R$ 29,00
                    </mat-step>
                    <mat-step label="8 de dezembro">
                        RSHOP-McDonalds: R$ 15,60
                    </mat-step>
                  </mat-vertical-stepper>
            </mat-tab>
            <mat-tab label="Futuros"> 
                    <mat-vertical-stepper>
                        <mat-step label="9 de dezembro">
                            Taxa da Conta Corrente: R$ 29,00
                        </mat-step>
                        <mat-step label="8 de dezembro">
                            RSHOP-McDonalds: R$ 15,60
                        </mat-step>
                    </mat-vertical-stepper>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>

