<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper gringotts-gray">
      <a href="#" class="brand-logo left" [routerLink]="['/']"><img src="assets/images/gringotts_vazado.svg" alt="Gringotts"></a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i class="fas fa-bars"></i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a class="nav-link" [routerLink]="['/login']" href="#">Acesse sua conta</a></li>
        <li><a class="nav-link" href="#">Abra sua conta</a></li>
      </ul>
    </div>
  </nav>
</div>
