<div class="carousel carousel-slider center">
  <div class="carousel-item red white-text" href="#one!">
    <h2>Para você</h2>
    <p class="white-text">Abra sua conta e tenha mais tempo para as pequenas coisas da vida.</p>
    <img src="assets/images/slider_child.jpg" alt="crianças no mar">
  </div>
  <div class="carousel-item amber white-text" href="#two!">
    <h2>Para sua empresa</h2>
    <p class="white-text">Comodidade e agilidade para sua empresa crescer com segurança.</p>
    <img src="assets/images/slider-break.jpg" alt="casal tomando café">
  </div>
</div>
