.img-one {
  background: url('../../../assets/images/slider_child.jpg') no-repeat;
  background-size: cover;
}
.img-two {
  background: url('../../../assets/images/slider-break.jpg') no-repeat;
  background-size: cover;
}
.item{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;

}
.page-text {
  text-align: left;
  width: 100%; 
  padding: 20px 20px 70px 20px;
  background-color: rgba( 0, 0, 0, 0.5)
}

h2 {
  color: rgb(255,255,255);
  font-weight: 700;
  font-size: 32px;
  margin: 0;
  padding-left: 20px;
}

p {
  color: rgb(255,255,255);
  font-weight: 300;
  font-size: 28px;
  margin: 0;
  padding-left: 20px;  
}

 