<div class="container">
        <div class="row valign-wrapper pt-space pb-space">
        <div class="col s12 m6 offset-m3 valign">
            <div class="card-panel center">
                <span class="card-title"><i class="material-icons large dp48">import_export</i></span>
                <div class="input-field">
                    <input placeholder="Numero da conta" required type="hidden"  disabled name="accountNumber" id="accountNumber" [(ngModel)]="transaction.accountNumber">
                </div>
                <form #transferForm="ngForm">
                    <div class="input-field">
                        <input placeholder="Conta destino" required type="text" name="targetAccountNumber" id="targetAccountNumber" [(ngModel)]="transaction.targetAccountNumber"
                            (ngModelChange)="getAccount()">
                    </div>
                    <div class="input-field">
                        <input placeholder="Nome favorecido" required type="text" name="targetName" id="targetName" [(ngModel)]="targetAccount.name">
                    </div>
                    <div class="input-field">
                        <input placeholder="CPF" required type="text" name="targetCpf" id="targetCpf" [dropSpecialCharacters]="true" mask="000.000.000-00" [(ngModel)]="targetAccount.cpf">
                    </div>
                    <div class="input-field">
                        <input placeholder="Valor" required type="text" name="amount" id="amount" [(ngModel)]="transaction.amount">
                    </div>
                    <button class="btn btn-gringotts waves-effect waves-light" type="text" (click)="createTransaction(); transferForm.reset()">Enviar</button>
                </form>
            </div>
        </div>
    </div>

</div>