<div class="container">
  <div class="row valign-wrapper">
      <div class="col s12 m6 offset-m3 valign">
        <div class="card-panel center">
          <div class="input-field">
              <i class="fas fa-user-circle prefix"></i>
              <input #cpf id="input_text" type="text" data-length="10">
              <label for="input_text">CPF</label>
          </div>
          <div class="input-field">
              <i class="fas fa-lock prefix"></i>
              <input  #password id="input_password" type="text" data-length="10">
              <label for="input_password">Senha</label>
          </div>
          <button class="btn btn-gringotts waves-effect waves-light" type="submit" name="action" (click)="login(cpf.value, password.value)">Continuar</button>
      </div>
    </div>
  </div>
</div>
                  







